html{
    margin: 0;
    padding: 0;
}
body {
  font-family: arial, sans-serif;
  font-size: 12pt;
  background-color: #efefef;
  padding: 0;
}
h1 {
  font-size: 16pt;
  padding: 18px 0 18px 0;
  text-align: center;
}
.section {
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  text-align: center;
}
@media (max-width: 1000px) {
  .section p {
    padding: 10px;
  }
  .section img {
    width: 100%;
  }
}
#header {
  background-image: url("images/bg-img.jpg");
  text-align: center;
}
.section ul {
  text-align: center;
}
.section li {
  display: inline;
  padding: 10px;
  margin: 10px;
  font-size: 16pt;
  border: 4px dashed black;
  border-radius: 10px;
}
.menu {
  background-color: #87CEEB;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  text-align: center;
}
.menu ul {
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}
@media (max-width: 600px) {
  .menu li {
    display: block
  }
}
.middle-section {
  display: table;
  width: -webkit-fill-available;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
}

.middle-section div {
  display: table-cell;
  width: 50%;
  padding: 5px;
}
.middle-section img {
  width: 50%;
  padding: 5px;
}
@media (max-width: 1000px){

  .middle-section div {
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.left-side {
  background-color: #eaeaea;
  padding: 10px !important;
}
.left-side h1 {
  background-color: #696969;
}

.slide {
  text-align: center;
  content: url(images/bath5.jpg);
  animation: slide 8s;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  width: auto;
  height: 500px;
}
 @keyframes slide {
  0% {content: url("images/bath5.jpg")}
  25% {content: url("images/bath6.jpg")}
  50% {content: url("images/bath7.jpg")}
  75% {content: url("images/bath8.jpg")}
  100%{content: url("images/bath6.jpg")}
}

.left-side article {
  content: url("images/bath6.jpg");
  repeat: no-repeat;
  opacity: 0.7;
  max-height: 350px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media (max-width: 1000px){
  .left-side article {
    width: 100%;
  }
}
@media (max-width: 400px){
  .left-side article {
    width: 100%;
    height: 250px;
  }
}
.right-side ul {
  padding top: 10px;
}
.right-side {
  background-color: #696969;
}
.right-side ul{
  padding: 0px;
  list-style-type: none;
}
/*
.article-header {
  background-color: #eaeaea;
  color: #696969;
  border: 1px solid black;
}
*/
.middle-section li {
  width: auto;
  margin: 5px;
  height: 100px;
  padding: 10px;
  background-color: #808080;
}
@media (max-width: 600px){
  .middle-section li {
    height: auto;
  }
}
.animate {
  animation: animate 4s;
  animation-iteration-count: infinite;
}
@keyFrames animate {
  0% {background-color: #B0C4DE}
  25% {background-color: #add8e6}
  50% {background-color: #b0e0e6}
  100% {background-color: #87ceeb}
}
@media (nax-width: 450px){
  .right-side li {
    display: block;
  }
}
.right-side img {
  float: right;
  height: 100%;
  width: auto;
  padding: 2px;
  border: 2px solid black;
}
@media (max-width: 600px) {
  .right-side img {
    float: none;
    width: 100%;
  }
}
#contact h1{
  background-color: #87CEEB;
}
#contact td {
  width: 50px;
  height: 50px;
}
#contact img {
  width: 100%;
  height: auto;
}
#contact table {
  margin-left: auto;
  margin-right: auto;
}
.copyright {
  text-align: center;
  color: grey;
  padding: 5px;
}
/* about */

.card {
  background-color: #808080;
  margin-left: auto;
  margin-right: auto;
}
#about-main {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
}
#about-main .card {
  width: 50%;
  float: left;
}
.section h2 {
  background-color: #87CEEB;
}
@media (max-width: 1000px) {
  #about-main {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
  }
  #about-main .card {
    width: auto;
  }
}
.section-contact {
border-radius: 10px;
margin: 10px;
padding: 10px;
background-color: #fff;
text-align: center;
}

.section-contact ul {
  list-style: none;
}
.section-contact li img {
  width: 80px;
  height: 80px;
  padding: 10px;
}
.social img {
  width: 40px;
  height: 40px;
}
